@using WebRole.Models
@model HomeModel
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    function SubmitForm() {
        $('#frmHome').submit();
    }
</script>
<div class="jumbotron">
    <h1>File Upload</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmHome", enctype = "multipart/form-data" }))
    {
       
        <input type="file" name="file"/>
        @Html.TextBoxFor(p => p.DocumentName)
        <button onclick="SubmitForm()">Upload to Azure</button>
    }
</div>